<html ng-app="Neo4jTestApp">
<head>
    <title>Neo4j Test Application</title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row" ng-controller="QueryController">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Send raw cypher query</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Query:</label>
                                    <textarea class="form-control col-lg-6" ng-model="query" rows="5"></textarea>
                                </div>
                                <div class="col-lg-6">
                                    <label>Results:</label>
                                    <textarea class="form-control col-lg-6" readonly rows="5" ng-model="queryResult"></textarea>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <button class="btn btn-primary" ng-click="submitQuery()" ng-disabled="!query">Submit</button>
                                </div>

                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nodes</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>
